# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build
dist/
build/
.cache/
.vite/

# Env
.env
.env.*
!.env.example

# Editor files
.vscode/
.idea/
*.swp

# OS junk
.DS_Store
Thumbs.db

# Git LFS artifacts
*.mp4
*.webm
*.aac
*.wav

# Logs
*.log
logs/
